@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.cdnfonts.com/css/motiva-sans');

.item-card img {
    transition: transform 0.3s ease-in-out;
}

.item-card:hover img {
    transform: scale(1.05);
}

.logo-font {
    font-family: 'Motiva Sans', sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
